<tabset [justified]="true">
    <tab heading="Justified">
        <div class="row g-6 mb-6  mt-5">
            <div class="col-xl-3 col-sm-6 col-12 mb-4">
                <div class="card shadow border-0">
                    <div class="card-body text-end">
                        <div class="row">
                            <div class="col-auto">
                                <div class="icon icon-shape text-success  text-lg rounded-circle">
                                    <i class="bi bi-book fs-2"></i>
                                </div>
                            </div>

                            <div class="col">
                                <span class="h6 font-semibold text-muted text-sm d-block mb-2">عدد الكتب بالمكتبة</span>
                                <span class="h3 font-bold mb-0">6530</span>
                            </div>

                        </div>
                        <div class="mt-2 mb-0 text-sm">
                            <span class="badge badge-pill bg-soft-success text-success me-2">
                                <i class="bi bi-arrow-up me-1"></i>13%
                            </span>
                            <span class="text-nowrap text-xs text-muted">الاجمالى</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 mb-4">
                <div class="card shadow border-0">
                    <div class="card-body text-end">
                        <div class="row">
                            <div class="col-auto">
                                <div class="icon icon-shape text-info text-lg rounded-circle">
                                    <i class="bi bi-file-earmark-plus-fill fs-2"></i>
                                </div>
                            </div>

                            <div class="col">
                                <span class="h6 font-semibold text-muted text-sm d-block mb-2">
                                    عدد الكتب المضافة</span>
                                <span class="h3 font-bold mb-0">215</span>
                            </div>

                        </div>
                        <div class="mt-2 mb-0 text-sm">
                            <span class="badge badge-pill bg-soft-success text-success me-2">
                                <i class="bi bi-arrow-up me-1"></i>30%
                            </span>
                            <span class="text-nowrap text-xs text-muted">الاسبوع الماضي</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12  mb-4">
                <div class="card shadow border-0">
                    <div class="card-body text-end">
                        <div class="row">
                            <div class="col-auto">
                                <div class="icon icon-shape text-danger text-lg rounded-circle">
                                    <i class="bi bi-clock-history fs-2"></i>
                                </div>
                            </div>
                            <div class="col">
                                <span class="h6 font-semibold text-muted text-sm d-block mb-2">
                                    عدد الداخل للمكتبة</span>
                                <span class="h3 font-bold mb-0">100</span>
                            </div>

                        </div>
                        <div class="mt-2 mb-0 text-sm">
                            <span class="badge badge-pill bg-soft-danger text-danger me-2">
                                <i class="bi bi-arrow-down me-1"></i>-5%
                            </span>
                            <span class="text-nowrap text-xs text-muted">الشهر الماضى</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 mb-4">
                <div class="card shadow border-0">
                    <div class="card-body text-end">
                        <div class="row">
                            <div class="col-auto">
                                <div class="icon icon-shape text-secondar text-lg rounded-circle">
                                    <i class="bi bi-brightness-high-fill fs-2"></i>
                                </div>
                            </div>
                            <div class="col">
                                <span class="h6 font-semibold text-muted text-sm d-block mb-2">
                                     معدل أضافة كتب</span>
                                <span class="h3 font-bold mb-0">95</span>
                            </div>

                        </div>
                        <div class="mt-2 mb-0 text-sm">
                            <span class="badge badge-pill bg-soft-success text-success me-2">
                                <i class="bi bi-arrow-up me-1"></i>10%
                            </span>
                            <span class="text-nowrap text-xs text-muted">Since last month</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </tab>
    <tab heading="SJ">
        <div class="card shadow border-0 mb-7 mt-5">
            <div class="card-header">
                <h5 class="mb-0 text-end">أعلي عدد دخول للمكتبة</h5>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-nowrap">
                    <thead class="thead-light text-center">
                        <tr class="tablText">
                            <th scope="col">عدد مرات الدخول</th>
                            <th scope="col">تاريخ اخر دخول</th>
                            <th scope="col">الوظيفة</th>
                            <th scope="col">الاسم</th>
                            <th scope="col">مسلسل</th>
                        </tr>
                    </thead>
                    <tbody class=" text-center">



                        <tr>
                            <td>
                                36
                            </td>
                            <td>
                                Feb 15, 2021
                            </td>

                            <td>
                                قاضى
                            </td>
                            <td>
                                <a class="text-decoration-none text-primary ">
                                    احمد مصطفي محمد
                                </a>
                            </td>
                            <td>
                                1
                            </td>
                        </tr>



                        <tr>
                            <td>
                                29
                            </td>
                            <td>
                                Feb 15, 2021
                            </td>

                            <td>
                                قاضى
                            </td>
                            <td>
                                <a class="text-decoration-none text-primary ">
                                      رشدس احمد علي
                                </a>
                            </td>
                            <td>
                                2
                            </td>
                        </tr>




                        <tr>
                            <td>
                                22
                            </td>
                            <td>
                                Feb 13, 2021
                            </td>

                            <td>
                                قاضى
                            </td>
                            <td>
                                <a class="text-decoration-none text-primary ">
                                    السعيد مصطفي السعيد
                                </a>
                            </td>
                            <td>
                                3
                            </td>
                        </tr>




                        <tr>
                            <td>
                                18
                            </td>
                            <td>
                                Feb 10, 2021
                            </td>

                            <td>
                                قاضى
                            </td>
                            <td>
                                <a class="text-decoration-none text-primary ">
                                      علاء احمد علي
                                </a>
                            </td>
                            <td>
                                4
                            </td>
                        </tr>



                        <tr>
                            <td>
                                15
                            </td>
                            <td>
                                Feb 14, 2021
                            </td>

                            <td>
                                قاضى
                            </td>
                            <td>
                                <a class="text-decoration-none text-primary ">
                                    حسام محمد السعيد
                                </a>
                            </td>
                            <td>
                                5
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="card-footer border-0 py-2 text-end">
                <span class="text-muted text-sm">بيانات خاصة بمستخدمين النظام</span>
            </div>
        </div>
    </tab>

  </tabset>
 
 <section class=" ">
    <div class="container-fluid mt-5">
        <div class="h-screen flex-grow-1 overflow-y-lg-auto">
            <main class="py-5 bg-surface-secondary">
                <div class="container-fluid">
                  
                </div>
            </main>
        </div>


    </div>
</section> 
