<nav class="navbar bg-color  d-flex flex-row-reverse w-100 pe-5">
    <div class="dropdown  me-5 ">
        <a href="#" class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
            <span class="d-none d-sm-inline mx-1 text-color">{{getUserName }}</span>
        </a>
        <ul class="dropdown-menu  text-small shadow bg-color text-color me-5 ">
            <li class="text-color"><a class="dropdown-item text-color" href="#">New project...</a></li>
            <li><a class="dropdown-item text-color" href="#">Settings</a></li>
            <li><a class="dropdown-item text-color" routerLink="/userProfile" >Profile</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item text-color" (click)="logout()">Sign out</a></li>
        </ul>
    </div>
</nav>